.contact
    background: $gray
    +monts
    font-size: 14px
    color: $gray-light
    &__block
        display: flex
        justify-content: space-between
        margin-bottom: 50px
        &-adress
            display: flex
            flex-direction: column
            align-items: center
            justify-content: center
        &-title
            margin-top: 20px
            font-weight: bold
            color: $white
            text-transform: uppercase
        &-span
            width: 45px
            height: 45px
            border-radius: 50%
            border: 1px solid $orange
            display: flex
            align-items: center
            justify-content: center
            color: $orange
        &-text
            margin-top: 15px
    &__form
        background: #292929
        width: 100%
        padding: 40px 30px
        display: flex
        flex-direction: column
        input, textarea
            border-bottom: 1px solid $gray-light
            margin-bottom: 20px
            color: $white
            padding: 10px 15px
        input
            height: 50px
        textarea
            height: 100px
@media screen and (max-width: 650px) and (min-width: 405px)
    .contact
        &__block
            flex-direction: column
            margin-bottom: 30px
            &-adress
                margin-bottom: 20px
                flex-direction: row
                justify-content: flex-start
                align-items: center
            &-title
                margin: 0 10px 0 10px
            &-text 
                margin-top: 0
@media screen and (max-width: 404px) and (min-width: 311px)
    .contact
        &__block
            flex-direction: column
            margin-bottom: 30px
            &-adress
                margin-bottom: 20px
                flex-direction: row
                justify-content: flex-start
                align-items: center
            &-title
                display: none
            &-text 
                margin-left: 10px
                margin-top: 0
        &__form
            display: none
@media screen and (max-width: 310px) and (min-width: 0px)
    .contact
        &__block
            flex-direction: column
            margin-bottom: 30px
            &-adress
                margin-bottom: 20px
                flex-direction: column
                justify-content: flex-start
                align-items: center
        &__form
            display: none