.nav
    width: 250px
    height: 100%
    background: $gray
    position: fixed
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
    z-index: 999
    &-logo
        max-width: 250px
        width: 100%
        height: 250px
        display: flex
        align-items: center
        justify-content: center
        border-bottom: 1px solid rgba(255, 255, 255, 0.1)
        flex-direction: column
    &-menu
        &__block
            display: flex
            flex-direction: column
        a
            &:focus, &:active
                outline: none
        &__link
            height: 50px
            display: flex
            align-items: center
            padding-left: 35px
            +monts
            font-size: 14px
            text-transform: uppercase
            color: $gray-light
            border-bottom: 1px solid rgba(255, 255, 255, 0.1)
            box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25)
            position: relative
            &:hover
                color: $white
            &:hover span
                opacity: 1
            &:active:focus span
                opacity: 1
        &__span
            position: relative
            width: 80px
            display: flex
            align-items: center
            justify-content: flex-end
            color: $orange
            opacity: 0
            transition: all 0.3s
            &::after
                position: absolute
                content: ""
                width: 40px
                height: 2px
                background: $bg-gradient
                margin-left: 10px
                left: 0px
        &__active
            color: $white
            span
                opacity: 1
    &__button
        margin: 30px 35px

@media screen and (max-width: 900px) and (min-width: 0px)
    .nav
        position: fixed
        height: 60px
        width: 100%
        &-section
            display: flex
            justify-content: space-between
            align-items: center
        &-span
            position: absolute
            width: 30px
            background: $bg-gradient
            height: 2px
            z-index: 12
            display: block
            transition: 1s   
            right: 15px
            &::after
                position: absolute
                content: ''
                width: 30px
                background: $bg-gradient
                height: 2px
                top: -7px
                transition: 0.7s
            &::before
                position: absolute
                content: ''
                width: 30px
                background: $bg-gradient
                height: 2px
                transition: 0.7s
                top: 7px
            &__active
                background: none
                transition: 0.3s
                &::after
                    transform: rotate(-45deg)
                    transition: 0.7s
                    top: 0
                &::before
                    transform: rotate(45deg)
                    top: 0
                    transition: 0.7s
        &-logo
            height: 60px
            align-items: flex-start
            margin-left: 15px
            border-bottom: none
        &-menu
            left: 0
            top: 60px
            width: 100%
            display: block
            position: absolute
            &__block
                position: absolute
                padding-top: 20px
                width: 100%
                height: 100vh
            &__link
                height: auto
                padding: 9px 34px
                border-bottom: none
                box-shadow: none

        &__button
            display: none
    #menu
        background: $gray
        display: none
@keyframes menu
    from
        right: -999px
    to
        right: 0

@keyframes menu2
    from
        right: 0
    to
        right: -999px

 