.skill
    position: relative
    color: $gray-light
    z-index: 0
    +monts
    font-size: 14px
    &__block
        display: flex
        justify-content: space-between
    &__item
        display: flex
        align-items: center
        flex-direction: column
        &-span
            border: 1px solid $orange
            width: 150px
            height: 150px
            position: relatives
            display: flex
            align-items: center
            font-size: 36px
            color: $white
            border-radius: 50%
            justify-content: center
        &-text
            margin-top: 25px
